body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Arial, sans-serif;
}

h1 {
  font-size: 24px;
  letter-spacing: 0.1px;
}

table {
  width: 100%;
  max-width: 500px;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ccc;
}

th {
  background-color: #f4f4f4;
  text-align: left;
}

#buttonColumn {
  width: 25%;
  min-width: 25px;
  max-width: 100px;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

input {
  width: 25%;
  min-width: 50px;
  max-width: 100px;
}

button {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 5px;
  border-width: 1px;
}

.editButton {
    background-color: beige;
}

.deleteButton {
    background-color: rgba(255, 0, 0, 0.25);
}

button[type="submit"], .saveButton {
    background-color: rgba(172, 255, 47, 0.25);
}

button:hover {
  opacity: 0.85;
}

input {
    padding: 4px 8px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

.actions button {
  visibility: hidden;
}

tbody tr:hover .actions button {
  visibility: visible;
}